language: node_js
node_js:
  - 13
  - 14
os:
  - linux
  - windows
arch:
  - amd64
  - arm64
compiler: gcc
before_install:
- if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get update -qq; fi;
- export PATH=./node_modules/.bin/:$PATH
- npm install node-gyp -g
- npm install node-pre-gyp node-pre-gyp-github
- PUBLISH_BINARY=true
- if [[ "$TRAVIS_TAG" == "" ]]; then PUBLISH_BINARY=false; fi;
- echo "Publish binary = $PUBLISH_BINARY"
install:
- node-pre-gyp configure build
before_script:
- if [[ $PUBLISH_BINARY == true ]]; then node-pre-gyp package; fi;
- if [[ $PUBLISH_BINARY == true ]]; then node-pre-gyp-github publish --release; fi;
- node-pre-gyp clean
- node-gyp clean
script:
- INSTALL_RESULT=0
- if [[ $PUBLISH_BINARY == true ]]; then INSTALL_RESULT=$(npm install --falback-to-build=false > /dev/null)$? || true; fi;
- echo "Install result = $INSTALL_RESULT"
- if [[ $INSTALL_RESULT != 0 ]]; then echo "returned $INSTALL_RESULT"; node-pre-gyp-github unpublish; false; fi;
- node-pre-gyp clean
after_success:
- node-pre-gyp-github info
deploy:
  provider: npm
  on:
    tags: true
    condition: $TRAVIS_CPU_ARCH = amd64 && $TRAVIS_OS_NAME = linux
  email: fastjack79@yahoo.com
  api_key:
    secure: B4hB4/0i8VaqgkwBSHufAjE3F5WOz6UzbwXF25a8nmpBPaDvLz/1rts0FRjo50cIUj8oHctLhR4ixIxwL2fSKm35iDfJgokrk/nxGeNtY78Nt097qQ1ppQkbPMNqgz1hpIhoiYWQzAfz5MttJKy4RkJT4oKiYsbSnfqmUfWHNol+jnV72FC6vPBbUwboiPbREdLQpFAH8uevDZi3gTqwQsUi2GRNIZ+lmh6X6acnUwL4OkDBslshUmRv88YrPjuKJOlDQ43PGodFmpkMzC0XuL+FkH84A98he4HSbJ5qf38rjUq8xPvk5eDYnXscBLle51XL4de6THF5hTKhC4jC3eaJzkC6LtGLTKjKWcVVXjzkBT+dpAEPiHqlWSsGiNKinyaA+BO11R957W2N07tfUry0uAyw5OEaHASa3Aca+Qzp/M/o5ZBHyWAC0YVzPFZq0IQtmPOF2lBCdssXVb6FKSXRj34mNDLt5Eq4ilcFIqANtZqF7gIJ5yMOjkcGwGDgWG7+xWnV+pTlnC67ZGucG9NivKwbr2KajxIUrucYKHYikwZWAvgXe6rT+WytR+IZjbQVvWclzb9XrjPA8nqt3FBeyAENoPHGgv72ZQleMDyiNDse/lVgWimnkOBXAUAl7JVIRIA3wKQ/QU+Qs22tvJVVtyLLE4+scHTP4fEL8N0=
env:
  global:
    - secure: w4ws8UwftAeliYJCWWZ9YOpKaKNFROOTCloGGAgzArYb1LLsT/9NhHXxaJnVxQw4Nk+qB6DxrOPLGzcj6ctMSqB33BMFibTskY1bTeUOVx2BzykiVKF+vnxHYwTBxSo+OgAyagnP2HHvlDSZ5HufDE3Ov4tihqzxAo2iw4LOEg3k/k4zlFBMqqe8Ws42P2PqSulwXymzO7drQjI8RBt5u+JJPxy1i9TAnO55PbWk9jeqvOBwLH8nj0N1JjpXssVd5I3RebszaKQ+qkC7hos1jwRU0XaG/yu/sjjFuLeMDywrg4DrshA/Hp5l+9TdsDN3Q5QGPfJb2PFo65YTRtd58OLL120AHjlLKqIWnOIZ59rFTKgQtVcA71+ylkgwIKqeSKaXfw0j6s9ItMxXKEe+hFMHhuvHnT6Rayg5BzQYT9Hye8FmNH8Octz6T1Bsys1PhW/emrR1R9nkUU6kiDwHk8sJP/8EAXdVOzLahGgbN6fA81Z9ZnyhwL9Pe3PZh2GmJSACZrw4BWpZoXYuSz80fekkRtr4Rs7Gjvm2Yz8zzgvVCkA4Y9lEfMgQicUjtD6s9snLFjgRciCuA90WB/ouXPygRUCluED6+suo4rJ5ee15RncJdVOABebMNr8PJUfQM5A7YtNgIkT6JRh0AYHp5AgrfCpc3jOJw1u5v1gN1HQ=
